@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
    --font-base : 'Work Sans', sans-serif;
    --yellow-color: #fef9e6;
    --secondary-color: #191919;
    --gray-color: #f2f2f2;
}